<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.LoginRecordMapper">

	<insert id="insertLoginRecord">
	    INSERT INTO login_record (user_id, login_time, ip_address)
	    VALUES (#{userId}, #{loginTime}, #{ipAddress})
	</insert>
	
	<select id="findLatestRecords" resultType="com.example.dto.LoginRecordViewDTO">
	    SELECT m.username, 
	           DATE_FORMAT(lr.login_time, '%Y-%m-%d %H:%i:%s') AS loginTime,
	           lr.ip_address AS ipAddress
	    FROM login_record lr
	    LEFT JOIN member m ON lr.user_id = m.id
	    ORDER BY lr.login_time DESC
	    LIMIT #{limit}
	</select>
		

</mapper>
